html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  padding: 1.5rem;
  margin: 0;
  font-size: 1.8rem;
  font-style: italic;
  grid-column: 1 / -1;
  grid-row: 1;
}

.first {
  font-size: 1.5rem;
  color: white;
  font-style: italic;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  padding: 1.5rem;
  margin: 1.5rem;
}

.banner img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}

p {
  color: white;
  font-style: normal;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

main {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: .75rem;
  grid-template-areas: "box1 box2 box3";
  grid-area: box 2;
  margin: 0;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: .75rem;
}

figcaption {
  margin-bottom: -.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

dd {
  font-style: normal;
}

dt {
  font-style: italic;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption > h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

dl {
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
