html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather";
}

*, *::before, *::after {
  box-sizing: inherit;
}

img{
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

.first {
  font-size: 1.5rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
}

body {
  margin:0
}

dl {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .25rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1;
}
